:root{
    --clr-almost-white:hsl(0,0%,98%);
    --clr-medium-gray:hsl(0,0%,41%);
    --clr-almost-black:hsl(0,0%,8%);

    --weight-500: 500;
    --weight-700: 700;
}

/* Mobile : 375px */
/* Desktop : 1440px */
/* font size paragraph : 18px */
/* weight :  500, 700 */

*{
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

    
/* ======================= HEADER ========================= */

header{
    width: 100%;
}

.navbar{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: var(--clr-almost-black)
}

.navbar .nav-links ul{
    display: flex;
    align-items: center;
}

/* .navbar .nav-links ul li{
    position: relative;
    display: flex;
} */

/* .navbar .nav-login ul li{
    word-spacing: 1rem;
} */

/* ========================== HEADER : LOGIN & REGISTER ================== */

.navbar .nav-login ul li a{
    border: 1px solid var(--clr-almost-black);
    padding: 10px;
    border-radius: 10vmax;
    cursor: pointer;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.dropdown-features li,
.dropdown-company li{
    position: absolute;
    z-index: 999;
    display: none;
}

.dropdown-features li a,
.dropdown-company li a{
    display: none;
}



/* =========================== HEADER : MEDIA QUERIES ===================== */

@media screen and (max-width: 930px) {
    .nav-links,
    .nav-login{
        display: none;
    }

    .nav-links ul,
    .nav-login ul{
        display: flex;
        flex-direction: column;
    }

    .menu-hamburger{
        display: inline-block;
        cursor: pointer;
        z-index: 2;
        transition: transform 0.5s ease;
    }

    .menu-hamburger span{
        border-radius: 10vmax;
    }

    .bar{
        display: block;
        width: 20px;
        height: 2px;
        margin: 4px 0;
        background-color: var(--clr-almost-black);
        transition: 0.6s ease;
    }
    
    .menu-hamburger:active .bar:first-of-type{
        transform: translate(0.5px, 7px) rotate(45deg);

    }

    .menu-hamburger:active .bar:nth-of-type(3) {
        transform: translateY(-5px) rotate(-45deg);

    }

    .menu-hamburger:active .bar:nth-of-type(2) {
        opacity: 0;
        transition: transform 0.5s ease;
    }


}

/* ======================= CONTAINER ========================= */


/* ====== IMG ====== */

.img-delgorithm{
    width: 100%;
    height: fit-content;
}

.container{
    display: grid;
    place-content: center;
}

.container h1,
.container p{
    display: grid;
    place-content: center;
    text-align: center;
}

.container p{
    transform: translateY(-15px);
    color: var(--clr-medium-gray);
}

.btn{
    cursor: pointer;
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 3vmax;
    transform: translateY(-1rem);
    background-color: var(--clr-almost-black);
    color:var(--clr-almost-white);
    font-weight: 700;

}

/* ======================= FOOTER ========================= */

footer{
    width: 100%;
}

.picture-footer{
    width: 100%;
}

.picture-footer picture{
    display: flex;
    justify-content: space-around;
}

.picture-footer img{
    width: 8vmax;
    height: 3vmax;
    transform: translateY(1rem);
}